{% extends "base.html"%}
{% block content %}
<form action="" method="POST">
   {{form.hidden_tag()}}
     <h2>Login Form</h2>
     {% with messages = get_flashed_messages() %}
     {% if messages %}
      <div class="alert alert-danger">
      <ul>
        {% for message in messages%}
        <li>{{message}}</li>
        {% endfor%}
      </ul>
    </div> 
      {% endif%}
      {% endwith%}
     <div class="form-group">
        {{form.email.label (for="email")}} 
        {{ form.email(id="email", class="form-control")}}
        {% for error in form.email.errors %}
        <ul class="text-danger">
        <li>{{ error }}</li>
    </ul>
        {% endfor %}
    </div>
     <div class="form-group">
        {{form.password.label (for="password")}} 
        {{ form.password(id="password", class="form-control")}}
        {% for error in form.password.errors %}
        <ul class="text-danger">
        <li>{{ error }}</li>
    </ul>
        {% endfor %}
     <p>
        {{ form.submit(class="btn btn-dark mt-4")}}
     </p>
</form>
{% endblock %} 